<mat-card class="card">
    <mat-card-title>User</mat-card-title>
    <mat-card-content>
        <ordyx-divider inset="true"></ordyx-divider>
        <div class="user-info">
            <div class="title">First Name:</div>
            <div class="title">Last Name:</div>
            <div>{{user.firstName}}</div>
            <div>{{user.lastName}}</div>
        </div>
        <ordyx-divider inset="true"></ordyx-divider>
        <div class="title">Change Password</div>
        <div class="password">
            <mat-form-field appearance="outline" style="padding-right: 16px">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password">
                <mat-hint>Maximum 16 characters.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password">
                <mat-hint>Maximum 16 characters.</mat-hint>
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary">Submit</button>
        <ordyx-divider inset="true"></ordyx-divider>
        <div class="alerts">
            <div class="title">Alerts</div>
        </div>
    </mat-card-content>
</mat-card>