<mat-card class="container">
    <mat-card-title>Schedule</mat-card-title>
    <mat-card-content>
        <div *ngFor="let schedule of scheduleItems" class="schedule-item" @fadeInOut>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{schedule.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="time">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Time</mat-label>
                        <input matInput type="time">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>End Time</mat-label>
                        <input matInput type="time" placeholder="End Time">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Days</mat-label>
                        <mat-select [(value)]="schedule.days" multiple>
                            <mat-option *ngFor="let day of schedule.days" [value]="day">{{day}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
            <button mat-raised-button color="warn" (click)="removeSchedule(schedule)">Remove</button>
        </div>
        <ordyx-divider inset="true"></ordyx-divider>
        <div class="add-item">
            <mat-form-field appearance="outline">
                <mat-label>Schedule Name</mat-label>
                <input #nameInput matInput placeholder="Schedule Name">
                <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Days</mat-label>
                <mat-select [(value)]="scheduleDays" multiple>
                    <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
                </mat-select>
            </mat-form-field>            
            <button mat-raised-button color="primary" (click)="addSchedule(nameInput.value)">Add</button>
        </div> 
    </mat-card-content>
</mat-card>