.container
{
    width: 100%;
}

.title 
{
    font-weight: 500;
    padding-bottom: 16px;
}

.info
{
    width: 100%;
}

.info-grid
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 16px;

    .title
    {
        padding-bottom: 0px;
    }
}